.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}

.citacao-bio {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transition-delay: 0s, 1s;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(2.65) rotate(5deg);
}

.   -bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    position: absolute;
    font-size: 10em;
    line-height: .8;
    color: #bbb;
}

.citacao-bio > p {
    position: relative;
}

.dados-pessoais{
    width: 30ch;
    float: right;
}


.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
    margin: 1em 0;
}

.habilidades th {
    font-weight: bold;
    background-color: #1793A6;
    color: white;
}

.habilidades td {
    background-color: #eee;
}

.habilidades th,
.habilidades td {
    padding: 0.5em;
}

.habilidades thead th {
    background-color: #1793A6;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}
.habilidades [rowspan] {
    vertical-align: middle;
}






.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: #00000;
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.eficiencia {
    top: 50%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.boas-praticas {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.codigo-limpo {
    top: 45%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.css3 {
    top: 55%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.html5 {
    top: 30%;
    left: 85%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.java {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}


.agilidade {
    top: 75%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}

@-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}