body {
    display: block;
}
.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #1793A6;
    font-size: 4em;

    display: inline-block;
    -webkit-animation: flutua 1s ease-in-out infinite;
            animation: flutua 1s ease-in-out infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    position: relative;
}
.saudacao:hover em {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.botao-index {
    font-size: 1.25em;
    background-color: #CC1F3B;
    color: #FFF;
    padding: .5em;
    border: .2em solid;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
.botao-index:focus,
.botao-index:hover {
    background-color: #C54974;
    color: white;
    box-shadow: 0 0 1em #FA9;
}
.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
    text-shadow: 2px 2px #000;
}


footer {
    background-color: #1793A6;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #99A;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html,body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}
.banner-github {
    position: absolute;
    top: 0;
    right: 0;

    line-height: 1;

    -webkit-transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
            transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;

    padding: 1em 3em;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #CC1F3B;
    color: white;

    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-animation: aparece .5s;
            animation: aparece .5s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}


@keyframes flutua {
    from {
        top: -10px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -10px;
    }
    to {
        top: 5px;
    }
}
